body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: beige; 
  color: black;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background: burlywood; 
  color: white;
}
.sidebar .profile-pic img {
  width: 120px;
  height: 120px;
  border: 3px solid white;
  object-fit: cover;
}
.sidebar .nav-link {
  color: beige;
  margin: 5px 0;
  font-weight: 500;
}
.sidebar .nav-link.active,
.sidebar .nav-link:hover {
  background: darkgoldenrod; 
  border-radius: 5px;
  color:white;
}
.content {
  margin-left: 250px;
  padding: 40px;
}
.section {
  min-height: 100vh;
  padding: 40px;
}
.name {
  font-size: 3rem;
  font-weight: bold;
  color: black;
}
.sub-info {
  font-size: 1.1rem;
  color: darkgoldenrod;
}
.intro {
  margin-top: 20px;
  font-size: 1.1rem;
  color: black;
}


@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: row;
    justify-content: center;
  }
  .content {
    margin-left: 0;
  }
  .section {
    padding: 20px;
  }
}
